#u have to create .env file in the main directiory and past this variables name along with propoer value

SOCIAL_AUTH_CLIENT_ID='givee client id here'
SOCIAL_AUTH_CLIENT_SECRET='give clinet secret here'


RAZORPAY_KEY_ID='give razorpay key here'
RAZORPAY_KEY_SECRET='giver secreat key here'

secret_key="give secret her"

EMAIL_HOST_USER ='give registered email id here'
EMAIL_HOST_PASSWORD ='give registered password here'

#to run the project:
# sudo docker compose up --build

# to crete a super user.
#sudo docker compose exec web python manage.py createsuperuser