{% extends 'admin/admin_base.html' %}
{% load static %}

{% block title %}Top Selling Products & Categories{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center fw-bold text-success mb-4">🔥 Top 10 Best-Selling Products</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for product in product %}
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Sold: <strong>{{ product.total_sold }}</strong> units</p>
          {%  if products.offer_price %}
          <p class="card-text">Price: ₹{{ product.offer_price }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-muted">No products found.</p>
    {% endfor %}
  </div>

  <hr class="my-5">

  <h2 class="text-center

{% endblock %}
